# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.python-version
poetry.lock
__pypackages__/

# Pulumi
.pulumi/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# macOS
.DS_Store

# VSCode
.vscode/

# Environment files
.env
.env.*

# Logs
logs/
*.log

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
